th, td      { vertical-align: top; text-align: right; font-size:large; }     
#converted1  { color: #0174DF; font-weight: bold; font-size:medium;          }
#converted2  { color: #04B431; font-weight: bold; font-size:medium;          } 
#converted  { color: red; font-weight: bold; font-size:medium; text-align: right;        }     
input       { 
              text-align: right;       
              border: none; 
              border-radius: 20px 20px 20px 20px;
              padding: 5px  5px;
              font-size:large;       }
body
{
 font-size:large;
 font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

h1 {
    font-weight: normal;
    font-family: "Brush Script MT", cursive;
    background: #B40404;
    padding: 5px 15px;
    color: white;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
}
html {
  background-image: url("imagen7.jpg");
}